<div style="margin: 0 auto;">

<div class="filas">
    <div class="columna1"><img src="../../assets/img/pobre_mundo.jpg"  width="500" height="600"></div>
    <div class="columna2"><img src="../../assets/img/pobre_mundo.jpg"  width="500" height="600"></div>
    <div class="columna3"><img src="../../assets/img/pobre_mundo.jpg"  width="500" height="600"></div>
</div>

<div class="filas">
    <div class="columna1"><img src="../../assets/img/pobre_mundo.jpg"  width="500" height="600"></div>
    <div class="columna2"><img src="../../assets/img/pobre_mundo.jpg"  width="500" height="600"></div>
    <div class="columna3"><img src="../../assets/img/pobre_mundo.jpg"  width="500" height="600"></div>
</div>
<div class="filas">
    <div class="columna1"><img src="../../assets/img/pobre_mundo.jpg"  width="500" height="600"></div>
    <div class="columna2"><img src="../../assets/img/pobre_mundo.jpg"  width="500" height="600"></div>
    <div class="columna3"><img src="../../assets/img/pobre_mundo.jpg"  width="500" height="600"></div>
</div>
</div>
